<section class="mt40 mb40">
  <div class="container">

    <div class="row">
      <!-- Panel -->
      <div class="col-xs-12 col-sm-6" data-sr="enter left">
        <div class="heading mb20">
          <h4>ニュース</h4>
        </div>

        <% @news_articles.each do |news_article| %>
          <h4><%= link_to news_article.title, news_article, style: 'color: #333;font-weight: 600;' %></h4>
          <p class="lead mb10">
            <%= truncate(sanitize(news_article.content), length: 150, escape: false) %>
          </p>
          <%= link_to '（続きを読む）', news_article_path(news_article), class: 'pull-right' %>
          <br>
          <hr/>
        <% end %>
        <br>

        <%= link_to '<i class="fa fa-list" aria-hidden="true"></i> ニュース一覧を見る'.html_safe, news_articles_path, style: 'position: absolute; top: 0px; right: 15px;' if @news_articles.any? %>    

      </div>  

    </div>

  </div><!-- /container -->
</section><!-- /content -->


<!-- Begin Accordion + IMG  -->
<div class="mt40 mb40">
  <div class="container">

    <!-- Begin Accordion Row -->
    <div class="row">

      <div class="col-sm-6 col-xs-12" data-sr="enter left">
        <div class="heading"><h4>企業理念</h4></div>


        <h2>「ヒト」と「シゴト」の「今」をつなぐ</h2>
        <p>
          当社はスタッフとクライアント様の「今」と「今」をつなぎ、クライアント様・従業員双方に価値をもたらすマッチングスペシャリストを目指しています。<br />
          「今」の価値を最大化するため、単なる仕事の橋渡しだけでなく、人材を扱うプロフェッショナルとしてゼロから経験と技術を兼ね備えたエキスパートを教育し提供できる価値を高めることにも取り組んでいます。
        </p>

        <br />
        <br />

        <h2>スイフトの強み</h2>
        <p>「躍進し続ける東海エリアで求められるニーズに、スピード感ある対応で貢献したい。」スイフトでは独自開発のシステムとフットワークでさまざまな人材のニーズにフレキシブルに対応していきます。</p>
    
      
      </div><!-- /column -->

      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <%= image_tag 'top/clock.jpg', class: 'img-responsive', style: 'margin-top: 50px;' %> 
      </div>
    
    </div><!-- /row -->
    <!-- End Accordion Row -->
    
  </div><!-- /container -->
</div><!-- /content -->
<!-- End Accordion + IMG -->

<hr />

<section class="mt40 mb40">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
          <div class="nav-box">
              <%= image_tag 'top/top-1-1.jpg', class: 'img-responsive' %>
              <a href="/companies" style="text-decoration: none;" class="btn btn-navbox">
                人材をお探しの企業の方
              </a>                  
          </div><!-- nav-box -->

      </div><!-- col-xs-12 col-md-6 -->

      <div class="col-xs-12 col-md-6">
          <div class="nav-box">
            <div class="layer">
              <%= image_tag 'top/top-2.jpg', class: 'img-responsive' %>
              <a href="/staff/recruit" style="text-decoration: none;" class="btn btn-navbox">
                お仕事をお探しの方
              </a>            
            </div>        
          </div><!-- nav-box -->

      </div><!-- col-xs-12 col-md-6 -->
    </div>
  </div>
</section>  
