<% set_meta_tags title: "スタッフ登録希望の方" %>

<section class="staff">
  <h2 class="text-center">スイフトで働こう！４つのメリット！</h2>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="point-container">

        <div class="point-container-text">
          <div class="point">
            POINT <span class="point-number">1</span>
          </div>

          <h3>短期<span class="alt-color">1日~OK!</span></h3>    

          <!-- <div class="point-container-details">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i> 空いた時間に<br />
              <i class="fa fa-check-circle" aria-hidden="true"></i> 自分らしく稼ぐ！
            </p>
          </div> -->
        </div>
        
        <div class="point-container-image">
          <%= image_tag 'staff/001.png', class: 'img-responsive' %>
        </div>

       
      </div><!-- point-container -->
    </div><!-- col-xs-12 col-md-6 col-lg-3 -->

    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="point-container">

        <div class="point-container-text">
          <div class="point-right">
            POINT <span class="point-number">2</span>
          </div>

          <h3>全額翌日払い<span class="alt-color">OK</span></h3>

          <!-- <div class="point-container-details">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i> 財布がピンチ！<br />
              <i class="fa fa-check-circle" aria-hidden="true"></i> すぐに給料ゲット！
            </p>
          </div> -->
        </div>
        <div class="point-container-image">
          <%= image_tag 'staff/002.png', class: 'img-responsive' %>
        </div>

      </div><!-- point-container -->
    </div><!-- col-xs-12 col-md-6 col-lg-3 -->

    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="point-container">
      
        <div class="point-container-text">
          <div class="point">
            POINT <span class="point-number">3</span>
          </div>

          <h3>登録<span class="alt-color">超簡単！</span></h3>

          <!-- <div class="point-container-details">
            <p>
              <i class="fa fa-check-circle" aria-hidden="true"></i> 履歴書不要！<br />
              <i class="fa fa-check-circle" aria-hidden="true"></i> 20分で終了！
            </p>
          </div> -->
        </div>

        <div class="point-container-image">
          <%= image_tag 'staff/003.png', class: 'img-responsive' %>
        </div>

      </div><!-- point-container -->
    </div><!-- col-xs-12 col-md-6 col-lg-3 -->

    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="point-container">
        
        <div class="point-container-text">
          <div class="point-right">
            POINT <span class="point-number">4</span>
          </div>

          <h3>選べる<span class="alt-color">勤務地</span></h3>

          <!-- <div class="point-container-details">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i> 自宅の近くで勤務可能！</p>
          </div> -->
        </div>

        <div class="point-container-image">
          <%= image_tag 'staff/004.png', class: 'img-responsive' %>
        </div>        
      </div><!-- point-container -->
    </div><!-- col-xs-12 col-md-6 col-lg-3 -->

    <div class="col-xs-12">
      <p class="pull-right"><small style="font-size:10px">©ミト</small></p>
    </div>
  </div><!-- row -->

  <%= render 'static_pages/cta' %>

  <h2 class="text-center">こんなお仕事を紹介しています！</h2>
  <br>
  <%= render 'shared/job_table' %>

</section>

<%= render 'static_pages/cta' %>