<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h3 class="text-center">新規登録スタッフ</h3>
    <%= simple_form_for @contact, url: '/staff/contacts', html: {class: 'form-horizontal' } do |f| %>
      <%= f.input :name, required: true, label: 'お名前', placeholder: '田中太郎' %>
      <%= f.input :furigana, required: true, label: 'ふりがな', placeholder: 'たなかたろう' %>
      <%= f.input :birthday, as: :string, required: true, label: 'お誕生日', start_year: Date.today.year - 65,
                              end_year: Date.today.year - 16, default: Date.today - 35.years %>
      <%= f.input :email, required: true, label: 'メールアドレス', placeholder: 'staff@email.com' %>
      <%= f.input :phone, required: true, label: 'お電話番号', placeholder: '111-111-1111' %>
      <%= f.input :interview_date, as: :text, required: true, label: '面接希望日時（※第3希望までご入力下さい。）', placeholder: '', input_html: {rows: 5} %>
      <%= f.input :terms_and_conditions, as: :boolean, required: true, label: '利用規約に同意する' %>

      
      <%= render 'shared/terms' %>
      </br>

      <%= f.submit '送信', class: "btn btn-primary pull-right"%>
    <% end %>
  </div><!-- col-xs-12 col-md-6 col-md-offset-3 -->
</div><!-- row -->


<script type="text/javascript">
$(function() {
  $("input#staff_contact_birthday").datepicker({defaultDate: "1980-01-01", dateFormat: 'yy-mm-dd', changeYear: true, changeMonth: true, yearRange: "-80:-16"});
});
</script>