<p><%= @user.name %>様から追加の予約がありました。</p>

<ul>
  <li><strong>予約日1</strong>「<%= @reservation.date_1 %>」</li>
  <li><strong>予約日2</strong>「<%= @reservation.date_2 %>」</li>
  <li><strong>予約日3</strong>「<%= @reservation.date_3 %>」</li>
  <li><strong>予約日4</strong>「<%= @reservation.date_4 %>」</li>
  <li><strong>予約日5</strong>「<%= @reservation.date_5 %>」</li>
</ul>

<p><strong>「備考」</strong></p>
<p><%= @reservation.additional_notes %></p>

システムへの反映よろしくお願いします。