<p>ID <%= @user.unique_id %> <%= @user.name_katakana %>様から追加の予約がありました。</p>

<p>予約日 1: <%= @reservation.date_1.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 2: <%= @reservation.date_2.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 3: <%= @reservation.date_3.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 4: <%= @reservation.date_4.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 5: <%= @reservation.date_5.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 6: <%= @reservation.date_6.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>
<p>予約日 7: <%= @reservation.date_7.try(:strftime, ("%m/%d/%Y")) || "無し" %></p>

<p>システムへの反映よろしくお願いします。</p>