<% set_meta_tags title: "会員用ページ" %>

<h3>会員用ページ</h3>

<ul>
  <li><%= link_to 'お仕事情報一覧'.html_safe, jobs_path %></li>
  <li><%= link_to 'お仕事予約', new_reservation_path %></li> 
  <li><%= link_to '出発到着報告', new_attendence_report_path %></li>
  <li><%= link_to '終了報告', new_completion_report_path %></li>
  <li><%= link_to '給与受取り予約', new_payment_reservation_path %></li>
</ul>