<% set_meta_tags title: "会員用ページ" %>

<h3>スイフト会員用ページ</h3>

<ul>
  <li><%= link_to 'お仕事予約', new_reservation_path %></li> 
  <li><%= link_to '出発到着報告', new_attendence_report_path %></li>
  <li><%= link_to '終了報告', new_completion_report_path %></li>
  <li><%= link_to '給与受取り予約', new_payment_reservation_path %></li>
  <li><%= link_to '週払振込申請', '' %></li>
  <li><%= link_to '振込口座申請', '' %></li>
  <li><%= link_to '車両通勤許可申請', new_car_permit_application_path %></li>
  <li><%= link_to 'マイナンバー申請', new_bank_application_path %></li>
  <li><%= link_to '就業ルールダウンロード', "/assets/files/スイフト就業規則.pdf" %></li>
  <li><%= link_to '作業確認票ダウンロード', "/assets/files/作業確認書.pdf" %></li>
  <li><%= link_to '説明会動画視聴', '' %></li>
</ul>