<div class="job-details-container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3 class="job-details-title"><%= job.title %></h3>

      <div class="job_box_description">
        <%= simple_format job.description %>

        <div class="job_box_tags">
          <% job.tags.each do |tag| %>
            <label class="label label-success"><%= tag.name %></label>
          <% end %>
        </div>

        <% if user_signed_in? && current_user.registered?(job: job) %>
          <a class="btn btn-sm btn-warning pull-right" style="margin-top: 20px;"><i class="fa fa-check-square-o" aria-hidden="true"></i> もうすでにお申し込みされています</a>
        <% else %>
          <%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> お申し込み'.html_safe, new_job_confirmation_path(job), class: 'btn btn-lg btn-success pull-left', style: 'margin-top: 20px;' %>
        <% end %>
      </div>

    </div><!-- col-xs-12 col-md-4 -->

    <div class="col-xs-12 col-md-6">
      <%= image_tag job.photo, class: 'img-responsive center-block' %>
    </div><!-- col-xs-12 col-md-4 -->

  </div><!-- row -->

  <br />

  <table class="table">
    <tr>
      <td class="col-xs-3"><strong>仕事内容</strong></td>
      <td><%= simple_format job.content %></td>
    </tr>

    <tr>
      <td class="col-xs-3"><strong>勤務地</strong></td>
      <td><%= job.location %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>給与</strong></td>
      <td><%= job.pay_amount %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>勤務地</strong></td>
      <td><%= job.location %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>募集</strong></td>
      <td><%= job.number_of_positions %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>勤務日</strong></td>
      <td><%= job.work_date %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>勤務時間</strong></td>
      <td><%= job.hours %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>休日</strong></td>
      <td><%= job.holidays %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>資格・経験</strong></td>
      <td><%= simple_format job.certifications_and_experience %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>待遇</strong></td>
      <td><%= simple_format job.benefits %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>担当者</strong></td>
      <td><%= job.person_in_charge %></td>
    </tr> 

    <tr>
      <td class="col-xs-3"><strong>備考</strong></td>
      <td><%= simple_format job.remarks %></td>
    </tr> 

  </table>

  <% if user_signed_in? %> 
    <% unless current_user.registered?(job: job) %>      
      <%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> お申し込み'.html_safe, new_job_confirmation_path(job), class: 'btn btn-lg btn-success btn-job-action' %>
    <% end %>
  <% else %>
    <%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> お申し込み'.html_safe, new_staff_contact_path, class: 'btn btn-lg btn-success btn-job-action' %>
  <% end %>
</div>









