<div class="job_box">
  <div class="job_box_title">
    <h3 style="margin-bottom: 40px;"><%= link_to job.title, job %></h3>
  </div><!-- job_box_title -->

  <div class="row">

    <div class="col-xs-12 col-md-8">
      <div class="job-information">
        <div class="job_box_description">
          <%= simple_format job.description %>
        </div>

        <table class="table table-responsive">
          <tr>
            <td class="col-xs-4"><strong>給与</strong></td>
            <td class="col-xs-8"><%= job.pay_amount %></td>
          </tr>

          <tr>
            <td><strong>勤務地</strong></td>
            <td><%= job.location %></td>
          </tr>

          <tr>
            <td><strong>勤務時間</strong></td>
            <td><%= job.hours %></td>
          </tr> 
        </table>
      </div><!-- job_box_description -->
      
      <%= link_to '詳細を見る', job, class: 'btn btn-warning btn-job-details' %>

    </div><!-- col-xs-12 col-md-4 -->

    <div class="col-xs-12 col-md-4">
      <%= image_tag job.photo, class: 'img-responsive center-block' %>
    </div><!-- col-xs-12 col-md-4 -->

  </div><!-- row -->


</div><!-- job_box -->