<div class="sidebar">

  <div class="sidebar-contents">

    <%= link_to '新規会員登録', new_staff_contact_path, class: 'btn btn-sm btn-primary btn-block' %>
    <%= link_to 'スイフトの特徴', staff_recruit_path, class: 'btn btn-sm btn-primary btn-block' %>

  </div><!-- sidebar-contents -->

  <h3>エリア<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::AREAS.each do |area| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to area, jobs_path(area: area) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>勤務日<span class="gray-alt">で探す</span></h3>

   <div class="sidebar-contents">
    <ul>
      <% Job::SHIFT_CATEGORIES.each do |category| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to category, jobs_path(shift_category: category) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>期間<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
    <% Job::DURATIONS.each do |duration| %>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to duration, jobs_path(duration: duration) %></li>
    <% end %>
    </ul>
  </div><!-- sidebar-contents -->


  <h3>給与<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::PAY_RANGE.each do |pay_range| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to pay_range, jobs_path(pay_range: pay_range) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>職種<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::CATEGORIES.each do |category| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to category, jobs_path(category: category) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>雇用形態<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::JOB_TYPE.each do |type| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to type, jobs_path(job_type: type) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->
</div><!-- sidebar -->



