<div class="sidebar">

  <div class="sidebar-contents">

    <%= link_to 'スイフトの特徴', staff_recruit_path, class: 'btn btn-sm btn-primary btn-block' %>
    <%= link_to '登録説明会参加', staff_registration_path, class: 'btn btn-sm btn-primary btn-block' %>

  </div><!-- sidebar-contents -->

  <h3>日付<span class="gray-alt">から探す</span></h3>

  <div class="sidebar-contents">
    <ul class="sidebar-jobs-by-day">
      <% Date.today.upto(Date.today + 2.weeks).each do |date| %>
        <li data-toggle="modal" data-target="#job-modal-<%= date %>"><%= date.strftime("%m/%d") %></li>

        <%= render partial: 'jobs/modal', locals: {date: date, job: @quick_jobs.find_by_date(date)} %>

      <% end %>
    </ul>
  </div>

  <% regular_jobs = QuickJob.regular %>
  <% if regular_jobs.length > 0 %>
    <button class='btn btn-sm btn-primary btn-block' data-toggle="modal" data-target="#regular-job-modal">
      レギュラーのお仕事
    </button>
  <% end %>

  <%= render partial: 'jobs/regular_job', locals: {jobs: regular_jobs} %>

  <br/>

  <h3>エリア<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::AREAS.each do |area| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to area, jobs_path(area: area) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>勤務期間<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
    <% Job::DURATIONS.each do |duration| %>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to duration, jobs_path(duration: duration) %></li>
    <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>給与<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::PAY_RANGE.each do |pay_range| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to pay_range, jobs_path(pay_range: pay_range) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>職種<span class="gray-alt">で探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Job::CATEGORIES.each do |category| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to category, jobs_path(category: category) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->

  <h3>メリット<span class="gray-alt">から探す</span></h3>

  <div class="sidebar-contents">
    <ul>
      <% Tag.all.each do |tag| %>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to tag.name, jobs_path(tag: tag.name) %></li>
      <% end %>
    </ul>
  </div><!-- sidebar-contents -->
</div><!-- sidebar -->



