<div class="row">

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">      
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/stadium.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>イベント</h5>
          <p>イベント会場設営・撤去、イベント管理・運営、各種販売促進、プラカード持ち等</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">      
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/truck.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>トランスポート</h5>
          <p>引越助手、事務所の移転作業、家具などの配送助手、什器の搬入出等</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/list.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>ロジスティックス</h5>
          <p>物流センター内ピッキング・仕分け・梱包作業、商品在庫管理、荷揚げ、荷卸し等</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/office-worker.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>オフィス</h5>
          <p>一般事務、データ入力、ファイリング、テレマーケティング、各種清掃作業、等</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">      
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/assembly-line.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>製造</h5>
          <p>製造派遣、部品加工、食品加工等のライン作業など</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="service-line">
      <div class="row">      
        <div class="col-xs-12 col-md-4">
          <%= image_tag 'icons/stock.png' %>
        </div>

        <div class="col-xs-12 col-md-7">
          <h5>その他</h5>
          <p>工場内ライン作業、棚卸し、各種清掃作業など</p>
        </div>
      </div>
    </div>
  </div>


  

</div>
