<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<%= link_to '戻る', staff_index_path, class: 'btn btn-warning btn-round' %>
		<h3 style="margin-top: 30px">車両通勤申請</h3>


		<p>以下の内容をよく確認し、内容について同意し誓約していただける場合のみ申請してください。</p>

		<p>自動車（バイク含む）通勤に関する誓約書</p>

		<p>今般、会社が所有する以外の自動車（以下「私有車」という）を使用するにあたっては、以下の誓約事項を遵守します。万一これに違反し事故発生の場合は、私の責任において一切の処理を為し、会社にご迷惑をかけません。これに相違ないことを確認し、誓約いたします。</p>

		<ol>
			<li>私は、決められた届出書を会社に提出して、本誓約書を提出するものとします。なお、誓約書に同意したあとでなければ、私有車を運転して通勤しません。</li>
			<li>私は、会社の仕事のために私有車を絶対に使用しません。</li>
			<li>私は、道路交通に関する諸法令を守って運転を行うとともに、次の事項に該当するときは、私有車での通勤を一切しません。</li>

				<ul>
				  <li>飲酒した場合</li>
					<li>過労や疾病のため心身が疲労しているとき</li>
					<li>運転に支障となる薬物投与を行っているとき</li>
					<li>通常の所要時間では遅刻が予想されるとき</li>
					<li>そのほか、道路交通法など諸法令が禁止している事項に該当するとき</li>
				</ul>

			<li>私が前項までに違反して事故を起こし、これが原因で会社が損害を受けたときは、会社が受けた損害につき賠償を請求されても異議ありません。</li>
			<li>私が運転中に起こした事故については、会社に一切ご迷惑をかけません。</li>
			<li>私は私有車の駐車中における破損、盗難などの事故については、会社に一切の補償を求めません。</li>
			<li>私は私有車の駐車に必要な料金を自己において負担します。</li>
			<li>私は自動車損害賠償責任保険の加入はもちろんのこと、対人対物の任意保険へ加入しております。任意保険の加入内容は別紙届出書の通りです。</li>
			<li>届出書の内容に変更を生じたときは直ちに会社に報告します。</li>
			<li>人身、物損を問わず、交通事故を起こしたときは直ちに会社に報告します。</li>
			<li>会社が私有車での通勤を取り消すことがあることを了解します。</li>
		</ol>

		<p>自動車通勤者の承認期間は、毎年１月１日を基準日として１年間とします。なお、基準日の途中で承認を受けた場合の承認期間は、承認を受けた年の１２月３１日までとします。継続使用を希望する場合は、あらためて届け出てもらいます。</p>

		<p>以上</p>

		<%= simple_form_for @application do |f| %>
			<%= f.input :terms_and_conditions, as: :boolean, label: "上記に同意して車両通勤許可を申請する。" %>
			<%= f.input :license, label: "自動車運転免許証" %>	
			<%= f.input :insurance_papers, label: "任意保険書類" %>
			<p><small>※対人・対物無制限が条件です。補償内容のわかるページを提出してください。</small></p>
			<%= f.input :inspection_certificate, label: "車検証" %>

			<%= f.submit "申請する", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
