<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h3 class="text-center">お仕事予約</h3>
    <p><small>クリックして日程を選択してください。</small></p>

    <%= simple_form_for @reservation do |f| %>
      <label>予約日1 *</label><br>
      <%= f.text_field :date_1,　as: :string, label: '予約日1', class: 'form-control' %>
      <br />
      <label>予約日2</label><br>
      <%= f.text_field :date_2,　as: :string, required: false, class: 'form-control' %>

      <label>予約日3</label><br>
      <%= f.text_field :date_3,　as: :string, required: false, class: 'form-control' %>

      <label>予約日4</label><br>
      <%= f.text_field :date_4,　as: :string, required: false, class: 'form-control' %>

      <label>予約日5</label><br>
      <%= f.text_field :date_5,　as: :string, required: false, class: 'form-control' %>

      <label>予約日6</label><br>
      <%= f.text_field :date_6,　as: :string, required: false, class: 'form-control' %>

      <label>予約日7</label><br>
      <%= f.text_field :date_7,　as: :string, required: false, class: 'form-control' %>
      <%= f.input :additional_notes, as: :text, required: false, label: '備考／相談内容等' %>
      <%= f.submit '確認画面', class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  let today = new Date().toJSON().slice(0,10);
  $("input[type=text]").datepicker({defaultDate: today, dateFormat: 'yy-mm-dd', orientation: "bottom"});
});
</script>