<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= link_to '戻る', staff_index_path, class: 'btn btn-warning btn-round' %>
    <h3 class="text-center">終了報告</h3>

    <%= simple_form_for @completion_report do |f| %>
      <%= f.input :job_name, label: 'お仕事', placeholder: 'お仕事名' %>

      <div class="row">
        <div class="col-md-3 col-xs-12">
          <%= f.input :date, as: :string %>
        </div>

        <div class="col-md-3 col-xs-12">
          <%= f.input :start_time %>
        </div>

        <div class="col-md-3 col-xs-12">
          <%= f.input :end_time %>
        </div>

        <div class="col-md-3 col-xs-12">
          <%= f.input :breaktime, label: '休憩(分)', placeholder: '120', input_html: {maxlength: 3} %>
        </div>
      </div>

      <%= f.input :tardy_or_leave, as: :radio_buttons, label: '遅刻・早退', collection: [[true, '有'] ,[false, '無']], label_method: :last, value_method: :first, item_wrapper_class: 'inline' %>

      <%= f.input :photo, label: '画像添付' %>
      <%= f.input :comments, label: '備考' %>
      <%= f.submit '完了', class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).on("ready", function(){
    $('input#completion_report_date').datepicker();
  });
</script>