<h3>３各種書類同意</h3>

<p>下記の書類をお読みいただき同意の上でお進みください。</br>
同意されない場合は登録できませんので「辞退します」より終了してください。</p>

<ol>
	<li><%= link_to '就業にあたっての同意書', "/assets/files/スイフト就業規則.pdf" %></li>
	<li><%= link_to '個人情報の取り扱いについて', "/assets/files/作業確認書.pdf" %></li>
</ol>

<div class="btn-group">
	<%= link_to '同意します', next_step_path(current_step: 3), method: :post, class: 'btn btn-primary' %>
	<%= link_to '辞退します', "", class: 'btn btn-warning' %>
</div>

<hr/>

<p><%= link_to '戻る', :back %></p>


													

