<!DOCTYPE html>
<html>
  <head>
    <title>人材派遣・業務請負はスイフトへ | Swift</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="bg-boxed">


        <%= render 'shared/nav' %>        

        <div class="container">
          <%= yield %>
        </div>

        <%= render 'shared/footer' %>


    </div>
  </body>
</html>
