<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/meta' %>
  </head>

  <body class="scrollreveal">
    <div id="bg-boxed">

        <%= render 'shared/nav' %>        
        <%= render 'carousel' %>
        <div class="container">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>

        <%= render 'shared/footer' %>

    </div>
  </body>
</html>
